html {
    height: 100%;
    /* background: #6441A5; fallback for old browsers */
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
    background-size: cover;
}

/* material form */
.form-elegant .font-small {
    font-size: 0.8rem;
 }

 .btn-round {
     border-radius: 100px;
 }
 .form-elegant {
    height: 100%;
    /* background: #6441A5; fallback for old browsers */
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
    background-size: cover;
 }


.cardbox {
    border-radius: 20px;
    margin-top: 10%;

}

